<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="ISO-8859-1">
    <title>New user</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>
<header th:insert="layout/general.html :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>New user</h1>

            <form action="#" th:action="@{/admin/saveUser}" modelAttribute="user" th:object="${user}"
                  method="POST">
                <p><input type="text" th:field="*{username}"
                          placeholder="User Name" class="form-control mb-4 col-4"></p>

                <p><input type="text" th:field="*{password}"
                          placeholder="Password" class="form-control mb-4 col-4"></p>

                <p><input type="text" th:field="*{lastName}"
                          placeholder="User Last Name" class="form-control mb-4 col-4"></p>

                <p><input type="text" th:field="*{email}"
                          placeholder="User Email" class="form-control mb-4 col-4"></p>

                <!--??????????, ??? field ??????? ? ??????????, ??? name -->
                <select id="editRoles" th:field="*{roles}" multiple size="2" required
                        class="form-control form-control-sm">
                    <option value="1">USER</option>
                    <option value="2">ADMIN</option>
                </select>


                <!--                <select id="editRoles" th:field="*{roles}" name="roles" multiple size="2" required
                                        class="form-control form-control-sm">
                                    <option th:each="initializeRoles:${roles}"
                                            th:value="${initializeRoles.id}"
                                            th:text="${initializeRoles.name}"
                                    >
                                    </option>
                                </select>-->

                <br>
                <button type="submit" class="btn btn-info col-2"> Save User</button>
            </form>

            <hr>

            <a th:href="@{/admin/users}"> Back to Users List</a>
        </div>
    </div>
</div>
</body>
</html>